@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Jua&display=swap');

@media screen and (max-width:1024px) {
    
/* 
    font-family: 'Prompt', sans-serif;
    font-family: 'DynaPuff', cursive;
    font-family: 'Jua', sans-serif;
*/


#header {
    /* padding: 40px 0; */
    height: 60px;
    position: relative;
    border-bottom: 1px solid #ddd;
    background: #acb2f738;
    z-index: 9999;
}

#header #nav {
    max-width: 100%;
}


#header #nav h1 {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translatey(-50%);
    overflow: hidden;
}

#header #nav h1 img {
    width: 100%;
}

#header #nav .menu {
    width: 60%;
    display: block;
    height: auto;
    position: absolute;
    top: 32%;
    left: 18%;
}

#header #nav .menu .depth1 >li{
    float: left;
    width: 15%;
    font-size: 20px;
    /* font-weight: bold; */
    padding: 0 30px;
}

#header #nav .menu .depth1 >li>a{
    font-family: 'Jua', sans-serif;
}

#header #nav .menu .depth1 .depth2 h2 {
    /* font-weight: bold; */
    font-size: 18px;
    margin-top: 15px;
    font-family: 'Jua', sans-serif;
}

#header #nav .menu .depth2 li {
    font-size: 14px;
}

#header #nav .menu .depth2 p {
    font-weight: normal;
}


#header #nav .menu .depth1 .depth2 {
    width: 200px;
    margin-top: 0px;
    font-weight: normal;
    border-radius: 10px;
    /* background-color: #ddd; */
    background-color: #f1cbff;
    display: none;
    position: absolute;
    top: 100%;
    transform: translateX(-55px);
    padding: 10px;
}

#header #nav .menu .depth1 >li:hover >.depth2 {
    display: block;
    /* transform: translateX(-40px); */
    /* opacity: 1; */
}


#header #nav .menu .depth1 .depth3 {
    padding: 0 10px;
}

#header #nav .menu .ham,
#header #nav .menu .hidden {
    display: none;
}

#header .membership {
    position: absolute;
    top: 60%; right: 20px;
}

.spimg {
    background: url(../images/spimg.png) no-repeat;
    background-size: auto;
}

#header .membership a:first-child button+label {
    width: 21px;
    height: 21px;
    position: absolute;
    top: -24px;
    right: 108px;
    background-position: -67px -51px;
}

#header .membership button {
    display: inline-block;
    font-family: 'Jua', sans-serif;
    padding: 0 10px;
    border: none;
    font-size: 18px;
}

#header .membership a:nth-child(2) button+label {
    width: 25px; height: 25px;
    position: absolute;
    top: -25px; right: 34px;
    background-position: -22px -71px;
}


/* section */
#section h2 {
    font-size: 30px;
    /* font-weight: bold; */
    font-family: 'DynaPuff', cursive;
    position: relative;    
    text-shadow: 2px 2px rgba(0,0,0,0.5)
}

#section h3 {
    font-size: 18px;
    margin: 10px 0;
}

/* article1 */
#section .art1 {
    background-position: 50% -50%;
    padding: 0.6% 0;
}

/* article2 */
.art2 {
    padding: 25px 0;
}
.art2 h2 {
    font-size: 25px !important;
    color: yellow !important;
}

.art2 span {
    font-size: 17px;
}

.art2 div {
    line-height: 1em;
}

.art2 p {
    text-align: center;
    padding: 0 35px;
}

/* article3 */
#section .art3 {
    text-align: center;
    background-color: cornsilk;
}

#section .art3 div {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
}

#section .art3 h2::before {
    content: '';
    width: 300px;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 80px;
}

#section .art3 h2::after {
    content: '';
    width: 300px;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    right: 80px;
}


#section .art3 ul {
    padding: 20px 0;
}

#section .art3 ul li {
    display: inline-block;
    width: 31%;
    height: 175px;
    vertical-align: top;
    /* background-color: rgba(255,0,0,0.5); */
    padding: 5px 10px;
    margin: 5px 10px 50px;
    /* text-align: center; */
    position: relative;
}

#section .art3 ul li a {
    height: 100px;
    /* border: 1px solid #00f; */
    display: block;
    margin: 5px 10px;
    position: relative;
}

#section .art3 img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;

}


#section .art3 ul li span {
    /* background-color: blue; */
    color: #000;
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    width: 240px;
    margin: 0 auto;
    font-weight: bold;
}

#section .art3 div {
    position: relative;
}

#section .art3 div button {
    background-color: navy;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    width: 90px;
    height: 30px;
    position: absolute;
    top: 100px;
    right: 200px;
}

#section .art3 div button a {
    color: #fff;
    margin: 0 auto;
    font-size: 17px;
}

/* article4 */

.art4 {
    text-align: center;
    background-color: #c4f6ff;
    padding: 20px 0;
}

#section .art4 h2::before {
    content: '';
    width: 240px;
    height: 2px;
    background-color: rgba(9, 80, 9, 0.5);
    position: absolute;
    top: 50%;
    left: 80px;
}

#section .art4 h2::after {
    content: '';
    width: 240px;
    height: 2px;
    background-color: rgba(9, 80, 9, 0.5);
    position: absolute;
    top: 50%;
    right: 80px;
}

.art4 >div {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
}

.art4 >div .perfomance h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 !important;
}

.art4 div >a {
    width: 25%;
    height: 280px;
    margin: 20px 10px 0;
    position: relative;
}

.art4 div button {
    background-color: navy;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    position: absolute;
    top: 60px;
    right: 200px;
}

.art4 div button a {
    color: #fff;
    margin: 0 auto;
    font-size: 17px;
    
}


/* article5 */
.art5 {
    width: 100%;
    text-align: center;
}

#section .art5 h2::before {
    content: '';
    width: 300px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 80px;
}

#section .art5 h2::after {
    content: '';
    width: 300px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: 80px;
}

.art5 div {
    padding: 40px 0;
    max-width: 1024px;
    margin: 0 auto;
}

.art5 div ul {
    margin-bottom: 30px;
}


.art5 div ul li {
    width: 33%;
    padding-top: 20px;
    margin-bottom: 80px;
    vertical-align: top;
    display: inline-block;
}

.art5 div ul li a {
    width: 180px; height: 180px;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: relative;
}

.art5 div ul li p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    width: 250px;
    left: -50px;
}

.art5 div ul li a i {
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-25px, -25px);
}


.art5 div ul li:nth-child(1) a {
    background: url(../images/clipimg1.jpg) no-repeat;
    background-size: auto;
    background-position: -15px 0px;
}

.art5 div ul li:nth-child(2) a {
    background: url(../images/clipimg2.jpg) no-repeat;
    background-size: auto;
    background-position: -93px 0px;
}

.art5 div ul li:nth-child(3) a {
    background: url(../images/clipimg3.jpg) no-repeat;
    background-size: auto;
    background-position: -65px -4px;
}

.art5 div ul li:nth-child(4) a {
    background: url(../images/clipimg4.jpg) no-repeat;
    background-size: 180%;
    background-position: -40px 0px;
}

/* side */
.side {
    position: fixed;
    top: 60px;
    right: 0px;
    text-align: center;
    padding: 10px 15px;
    background-color: rgba(221,221,221,0.4);
    border-radius: 10px;
}

.side >a {
    display: block;
}

.side h2 {
    font-size: 16px !important;
    font-family: 'Jua', sans-serif !important;
    margin-top: 5px;
    text-shadow: none !important;
}

.side li {
    margin: -10px 0;
}

.side img {
    width: 70px; height: 60px;
    border-radius: 10px;
}

/* .side .thumb:first-child {
    margin-top: 15px;
} */

.side .top a i {
    font-size: 40px;
    margin: 10px 0 ;
}

.side .mapimg{
    /* width: 100%; */
    position: absolute;
    top: 0;
    left: -670px;
    display: none;
}

.side .mapimg img {
    width: 700px;
    height: 500px;
}

.side .map:hover .mapimg{
    display: block;
}

/* -------------------------------------------
#section .art1 ul li img {
    opacity: 0.1;
}



#section .art1 ul li:nth-child(1) {
    
    animation: photoslide 1.5s 60s ;

    animation-fill-mode: alternate; 
    
}
#section .art1 ul li:nth-child(2) {
    animation: photoslide 1.5s 50s ;
    animation-delay: 5s;
}
#section .art1 ul li:nth-child(3) {
    animation: photoslide 1.5s 40s ;
    animation-delay: 10s;
}
#section .art1 ul li:nth-child(4) {
    animation: photoslide 1.5s 30s ;
    animation-delay: 10s;
    
}
#section .art1 ul li:nth-child(5) {
    animation: photoslide 1.5s 20s ;
    animation-delay: 15s;
    
}
#section .art1 ul li:nth-child(6) {
    animation: photoslide 1.5s 10s ;
    animation-delay: 20s;
    
}
#section .art1 ul li:nth-child(7) {
    animation: photoslide 1.5s  ;
    animation-delay: 25s;

} */

/* footer */
#footer {
    position: relative;
}

#footerbx {
    position: relative;
    padding: 80px 0;
    background-color: #cfb48aa8;
}

#emptybx {
    width: 100%;
    height: 0px;
    transform: translateY(80px);
    z-index: 1;
    background: transparent;
}

#footer #sidebx {
    content: '';
    width: 5%;
    /* height: 250px; */
    background-color: #000;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
}

#footer #footerbx .step1 {
    margin: 0 auto;
    width: 100%;
    /* position: relative; */
    text-align: center;
}

#footer .step1 .ftlogo {
    width: 25%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    
}

#footer .step1 .ftlogo img {
    padding: 10px 10px;
    border: 1px solid red;
}

#footer .sns {
    float: right;
    width: 30%;
    position: absolute;
    top: 10px;
    right: 0;
    letter-spacing: -0.4em;
}

#footer .sns a {
    padding: 0 6%;
    font-size: 30px;
}

#footer .policy {
    position: absolute;
    bottom: 10px;
    width: 100%;
}


#footer .policy ul {
    /* display: block;     */
    text-align: center;
    /* transform: translateY(245px); */
}

#footer .policy ul li {
    display: inline;
    font-size: 20px;
    padding: 5px 10px;
}

#footer .step2 {
    width: 26%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    font-size: 18px;
    font-weight: bold;
    background: white;
}

#footer .copyright {
    border: 1px solid blue;
    margin: 10px;
    padding: 0px 10px;
    background-color: #fff;
    overflow: hidden;
    font-size: 14px;
}

#footer .step2 .copyright p {
    margin: 5px 0;
    
}

}

@media screen and (max-width:768px) {

    #header #nav h1 {
        width: 15%;
    }

    #header .membership button {
        font-size: 18px;
    }

    #header .membership a:nth-child(2) button+label {
        right: 30px;
    }

    #header .membership a:first-child button+label {
        right: 108px;
    }

    #header #nav .menu {
        top: 30%;
    }

    #section .art1 {
        background-size: 100%;
        background-position: 1px -5px;
        padding: 15% 0%;
    }
    
    #section .art1 div {
        width: 81%;
        padding: 0% 0;
    }

    #section .art1 video {
        width: 100%;
        padding: 0%;
    }

    #section .art3 h2::before {
        width: 220px;
    }

    #section .art3 h2::after {
        width: 220px;
    }

    #section .art3 div button {
        height: 40px;
        top: 60px;
        right: 80px;
    }

    #section .art3 ul li {
        width: 40%;
    }

    #section .art4 h2::before {
        width: 170px;
    }

    #section .art4 h2::after {
        width: 170px;
    }

    .art4 div button {
        height: 40px;
        top: 40px;
        right: 80px;
    }

    .art4 div >a {
        width: 60%;
        margin: 20px 10px 70px;
    }

    .art5 div ul li a {
        width: 180px;
        height: 180px;
    }
    
    #section .art5 h2::before {
        width: 240px;
    }

    #section .art5 h2::after {
        width: 240px;
    }

    /* footer */
    #footer .copyright {
        font-size: 11px;
    }

    #footer .sns a {
        font-size: 25px;
    }

    /* side */
    .side {
        display: none;
    }
}

@media screen and (max-width:600px) {

    body {
        width: 100%;
    }

    #header {
        position: fixed;
        top: 0;
        width: 100%;
        background: #eeefff;
        z-index: 99999;
    }

    #header #nav .menu .depth1 {
        display: none;
        top: 35%;
        left: 27%;
    }

    #header #nav .menu .depth1 >li {
        padding: 0;
        font-size: 15px;
        width: 20%;
    }

    #header #nav .menu .depth1 >li:hover .depth2 {
        display: none;
    }

    
    #header #nav h1 {
        width: 25%;
    }

    #header .membership a:first-child button+label {
        /* top: -19px; */
        /* right: 35px; */
        display: none;
    }
    
    #header .membership a:nth-child(2) button+label {
        display: none;
    }
    
    #header .menu .ham {
        display: block !important;
        position: absolute;
        top: 0px;
        right: -65px;
        width: 40px;
        height: 32px;
        text-align: center;
    }
    
    #header .menu .ham i {
        font-size: 30px;
    }

    #header .menu .ham span {
        width: 100px;
    }

    #header .menu .ham img {
        float: left;
        position: absolute;
        top: 2px;
        right: 40px;
        width: 70%;
    }

    #header .menu .hidden {
        width: 74%;
        position: absolute;
        left: 135px;
        top: 30px;
        background-color: #dddddde0;
        padding: 15px 15px 25px;
        border-radius: 20px;
    }
    
    #header .menu .hidden li a {
        font-size: 18px;
        font-weight: normal;
        font-family: 'Jua', sans-serif;
        line-height: 1.5em;
    }
    
    
    #header .menu .hidden h2 {
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
        font-family: 'Jua', sans-serif;
    }

    #header .menu .hidden .hdmembership {
        text-align: center;
        transform: translateY(10px);
    }
    
    #header .menu .hidden .hdmembership li {
        display: inline;
    }
    
    #header .menu .hidden .hdmembership li a button {
        width: 60px;
        height: 35px;
        border-radius: 12px;
        font-size: 15px;
        font-weight: bold;
        font-family: 'DynaPuff', cursive;
        background: aliceblue;
    }

    #header .menu .hidden li:first-child h2 {
        margin-top: 0;
    }

    #header .menu .ham:hover +.hidden {
        display: block !important;

    }

    #header .menu .ham:hover img {
        transform: translateX(35px);
    }
    #header .menu .ham:hover i {
        display: none;
    }
    /* hover는 자식이나 동생만 띄울 수 있음 */
    /* 개발자모드에서는 호버가 별도로 뜨지 않으므로 클릭으로 확인해야함 */
    
    #header .membership {
        top: 655%;
        right: 30px;
    }

    #header .membership button {
        display: none;
    }

    /* section */
    #section {
        margin-top: 60px;
    }

    
    #section .art1 video {
        transform: translateX(-1px);
    }

    .art2 p {
        padding: 0 0 0 15%;
        text-align: left;
    }

    .art2 span {
        margin: 0 0;
        line-height: 1.5em;
        display: block;
    }

    #section .art3 {
        padding-bottom: 13%;
    }

    #section .art3 img {
        margin-top: 0px;
        border-radius: 25px;
        height: 200px;
    }

    #section .art3 ul {
        padding: 10px 0 20px;
    }

    #section .art3 ul li {
        width: 100%;
        margin: 0px 0px 100px;
        padding: 5px 10px;
    }

    #section .art3 ul li a {
        margin: 5px 10px;
        height: 213px;
    }
        

    #section .art3 ul li span {
        top: 100%;
    }

    #section .art3 h2::before {
        /* width: 120px; */
        /* left: 20px; */
        display: none;
    }

    #section .art3 h2::after {
        /* width: 120px; */
        /* right: 20px; */
        display: none;
    }

    #section .art3 div button {
        top: 99%;
        right: 50%;
        transform: translateX(50%);
    }

    #section .art3 ul>li:nth-child(4),
    #section .art3 ul>li:nth-child(5),
    #section .art3 ul>li:nth-child(6) {
        display: none;
    }

    .art4 {
        padding: 20px 0 20%;
    }

    #section .art4 h2::before {
        /* width: 50px; */
        /* left: 20px; */
        display: none;
    }

    #section .art4 h2::after {
        /* width: 50px; */
        /* right: 20px; */
        display: none;
    }

    .art4 div >a {
        width: 100%;
        margin: 20px 0px 10px;
        padding: 0 10px;
    }

    .art4 div button {
        top: 101.5%;
        right: 50%;
        transform: translateX(50%);
    }

    .art4 .perfomance img {
        border-radius: 25px;
    }

    .art4 >div .perfomance h3 {
        margin: 5px 0!important;
    }

    #section .art5 h2::before {
        /* width: 120px; */
        /* left: 20px; */
        display: none;
    }

    #section .art5 h2::after {
        /* width: 120px; */
        /* right: 30px; */
        display: none;
    }

    .art5 {
        height: auto;
        margin-bottom: 0px;
    }

    .art5 div {
        padding: 20px 0 30px;
    }

    .art5 div ul {
        margin-bottom: 0px;
    }

    .art5 div ul li {
        width: 40%;
        margin-bottom: 30px;
    }

    .art5 div ul li a {
        width: 130px;
        height: 130px;
    }

    .art5 div ul li p {
        font-size: 14px;
        margin-top: 5px;
        line-height: 1.2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform: translateY(50%);
        width: 100%;
        left: 0;
    }

    .art5 div ul li:nth-child(1) a {
        background-size: 190%;
        background-position: -15px 0px;
    }

    .art5 div ul li:nth-child(2) a {
        background-size: 260%;
    }

    .art5 div ul li:nth-child(3) a {
        background-size: 220%;
    }

    .art5 div ul li a i {
        opacity: 0.7;
        font-size: 30px;
        transform: translate(-50%, -50%);

    }

    #footerbx {
        margin-top: 0%;
        padding: 30px 0 60px;
    }

    #footer #footerbx .step1 {
        display: inline;
    }

    #footer .copyright {
        font-size: 10px;
    }

    #footer .step1 .ftlogo {
        width: 30%;
        padding: 10px;
        transform: translate(50px, 30px);
    }

    #footer .sns {
        width: 45%;
    }

    #footer .step2 {
        width: 47%;
        top: 60%;
    }

    #footer .step2 .copyright p:nth-child(2) {
        display: none;
    }

    #footer .policy {
        bottom: 0%;
    }

    #footer .policy ul li {
        font-size: 12px;
        padding: 15px 0px 0;
    }

}
